div.titleBar{
    position: absolute;
    left: 0;
    right: 0; 
    top: 0;
    height: 15%;
    background: #24313C;
    color: #FFCC00;
    text-align: center;
}

div.sideMenu{
    position: absolute;
    top: 15%;
    left: 0;
    bottom: 0;
    width: 15%;
    background: #F6B319;
}

div.content{
    position: absolute;
    left:20%; 
    top:20%; 
    right:0; 
    bottom:0;
    overflow-y: scroll;
}

iframe{
    width: 100%;
    height: 100%;
}

div.sideBarButton{
    position: relative;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid black;
    border-width: thin;
    margin: 0;
}

div.sideBarButton:hover{
	cursor: pointer;
    background-color: #24313C;
}

.sideBarLink{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    text-decoration: none;
    color: black;
}

.sideBarLink:hover{
    color: #FFCC00;
}

iframe{
    padding-left: 5%;
}

/* CSS used here will be applied after bootstrap.css */

body {
  padding-top: 50px;
}


.thumbnail {
    position:relative;
    overflow:hidden;
}

.row [class*="col-"]{
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.row{
  overflow: hidden; 
}

 
/* Profile page styling */
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
} 

